@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .newwireframe1row0 {
    display: flex;
    margin-left: 18px;
    margin-top: 17px;
    width: 318px;
    height: 56px;
    align-items: stretch
  }
  .newwireframe1row0unsupported0 {
    margin-left: 0;
    width: 88px
  }
  .newwireframe1row0unsupported1 {
    margin-left: 23px;
    width: 88px
  }
  .newwireframe1row0unsupported2 {
    margin-left: 43px;
    width: 76px
  }
  .newwireframe1row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 18px;
    width: 182px;
    height: 94px;
    align-items: stretch
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 0;
    width: 69px;
    flex-direction: column
  }
  .style1,
  .style2,
  .style3 {
    font-family: BalsamiqSans,serif;
    font-size: .29296875em;
    margin-top: 0;
    height: 8px;
    align-self: center
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-left: 24px;
    margin-top: 52px;
    width: 24px;
    height: 10px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .29296875em;
    height: 5px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 39px;
    width: 75px;
    align-items: center;
    flex-direction: column
  }
  .style5,
  .style6,
  .style7 {
    font-family: BalsamiqSans,serif;
    font-size: .29296875em;
    margin-top: 0;
    height: 8px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-top: 50px;
    width: 24px;
    height: 10px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .29296875em;
    height: 5px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .newwireframe1row0 {
    display: flex;
    margin-left: 38px;
    margin-top: 35px;
    width: 652px;
    height: 115px;
    align-items: stretch
  }
  .newwireframe1row0unsupported0 {
    margin-left: 0;
    width: 179px
  }
  .newwireframe1row0unsupported1 {
    margin-left: 47px;
    width: 179px
  }
  .newwireframe1row0unsupported2 {
    margin-left: 89px;
    width: 156px
  }
  .newwireframe1row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 38px;
    width: 373px;
    height: 192px;
    align-items: stretch
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 0;
    width: 141px;
    flex-direction: column
  }
  .style1,
  .style2,
  .style3 {
    font-family: BalsamiqSans,serif;
    font-size: .6em;
    margin-top: 0;
    height: 17px;
    align-self: center
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-left: 50px;
    margin-top: 106px;
    width: 49px;
    height: 21px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .6em;
    height: 10px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 79px;
    width: 153px;
    align-items: center;
    flex-direction: column
  }
  .style5,
  .style6,
  .style7 {
    font-family: BalsamiqSans,serif;
    font-size: .6em;
    margin-top: 0;
    height: 17px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-top: 103px;
    width: 49px;
    height: 21px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .6em;
    height: 10px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .newwireframe1row0 {
    display: flex;
    margin-left: 45px;
    margin-top: 41px;
    width: 780px;
    height: 137px;
    align-items: stretch
  }
  .newwireframe1row0unsupported0 {
    margin-left: 0;
    width: 215px
  }
  .newwireframe1row0unsupported1 {
    margin-left: 57px;
    width: 215px
  }
  .newwireframe1row0unsupported2 {
    margin-left: 107px;
    width: 187px
  }
  .newwireframe1row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 45px;
    width: 447px;
    height: 230px;
    align-items: stretch
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 0;
    width: 169px;
    flex-direction: column
  }
  .style1,
  .style2,
  .style3 {
    font-family: BalsamiqSans,serif;
    font-size: .71875em;
    margin-top: 0;
    height: 20px;
    align-self: center
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-left: 60px;
    margin-top: 127px;
    width: 59px;
    height: 25px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .71875em;
    height: 12px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 95px;
    width: 183px;
    align-items: center;
    flex-direction: column
  }
  .style5,
  .style6,
  .style7 {
    font-family: BalsamiqSans,serif;
    font-size: .71875em;
    margin-top: 0;
    height: 20px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-top: 123px;
    width: 59px;
    height: 25px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .71875em;
    height: 12px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .newwireframe1row0 {
    display: flex;
    margin-left: 59px;
    margin-top: 54px;
    width: 1018px;
    height: 179px;
    align-items: stretch
  }
  .newwireframe1row0unsupported0 {
    margin-left: 0;
    width: 280px
  }
  .newwireframe1row0unsupported1 {
    margin-left: 74px;
    width: 280px
  }
  .newwireframe1row0unsupported2 {
    margin-left: 139px;
    width: 244px
  }
  .newwireframe1row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 59px;
    width: 583px;
    height: 300px;
    align-items: stretch
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 0;
    width: 220px;
    flex-direction: column
  }
  .style1,
  .style2,
  .style3 {
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    margin-top: 0;
    height: 26px;
    align-self: center
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-left: 78px;
    margin-top: 166px;
    width: 77px;
    height: 33px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    margin-left: 124px;
    width: 239px;
    align-items: center;
    flex-direction: column
  }
  .style5,
  .style6,
  .style7 {
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    margin-top: 0;
    height: 26px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 17px 17px 0 0 #000;
    display: flex;
    margin-top: 161px;
    width: 77px;
    height: 33px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
}